@import "tailwindcss";

@theme {
  --font-cairo: 'Cairo', sans-serif;
}

@layer base {
  * {
    @apply border-white/5;
  }
  body {
    @apply bg-[#0b0e1a] text-white font-cairo antialiased;
  }
  html {
    @apply scroll-smooth;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0e1a;
}
::-webkit-scrollbar-thumb {
  background: #c9a84c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b8962e;
}